# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# =========================================================
# VENV
# =========================================================

venv/
env/
my_env/

# =========================================================
# JUPYTER
# =========================================================

.ipynb_checkpoints/

# =========================================================
# IDE
# =========================================================

.vscode/
.idea/

# =========================================================
# OS FILES
# =========================================================

.DS_Store
Thumbs.db

# =========================================================
# LOGS
# =========================================================

*.log

# =========================================================
# PLAYWRIGHT
# =========================================================

playwright-report/
test-results/

# =========================================================
# DATASETS
# =========================================================

data/raw/
data/processed/
data/final_dataset/
data/splits/

# =========================================================
# MODELS
# =========================================================

models/
checkpoints/

# =========================================================
# DVC CACHE
# =========================================================

.dvc/cache/

# =========================================================
# TEMP FILES
# =========================================================

tmp/
temp/

# =========================================================
# ENV FILES
# =========================================================

.env

# =========================================================
# TORCH CACHE
# =========================================================

.cache/

# =========================================================
# GENERATED FILES
# =========================================================

*.onnx
*.pt
*.pth
*.ckpt

# =========================================================
# SCRAPED IMAGES
# =========================================================

*.jpg
*.jpeg
*.png
*.webp